<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">
  {{ message }}
</div>

<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a while to see my dynamically bound title.
  </span>
</div>

<div id="app-3">
  <p v-if="seen">Now you see me</p>
</div>

<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>

<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>

<div id="app-7">
  <ol>
    <!-- Now we provide each todo-item with the todo object    -->
    <!-- it's representing, so that its content can be dynamic -->
    <todo-item v-for="item in gList" v-bind:todo="item" :key="item.id"></todo-item>
  </ol>
</div>

<div id="app-8">
  <input 
  v-model="newTodoText" 
  v-on:keyup.enter="addTodo" 
  placeholder="Add a todo">
  <ul>
    <li 
    is="todo-item2" 
    v-for="(todo, index) in todos" 
    v-bind:title="todo" 
    v-on:remove="todos.splice(index, 1)"></li>
  </ul>
</div>

<div id="app-9">
  <ul>
    <li v-for="n in evenNumbers">{{ n }}</li>
  </ul>
</div>

<div id="app-10">
  <button v-on:click="count += 1">增加1</button><p>这个按钮被点击了{{ count }}次</p>
</div>

<button id="app-11" v-on:click="say('hi');">say hi</button>

<script src="test.js"></script>